openapi: 3.2.0
info:
  title: Axiom REST Users API
  version: 1.0.0
  description: REST API for Axiom serverless log management and analytics. Manage datasets, ingest data, run queries, and administer annotations, dashboards, monitors, notifiers, tokens, users, views, and other resources.
servers:
- url: https://api.axiom.co
tags:
- name: Users
paths:
  /users:
    get:
      summary: List all users
      responses:
        '200':
          description: OK
      tags:
      - Users
      operationId: getUsers
      x-operation-id-source: derived
    post:
      summary: Create user
      responses:
        '201':
          description: Created
      tags:
      - Users
      operationId: postUsers
      x-operation-id-source: derived
  /users/current:
    get:
      summary: Retrieve current user
      responses:
        '200':
          description: OK
      tags:
      - Users
      operationId: getUsersCurrent
      x-operation-id-source: derived
    put:
      summary: Update current user
      responses:
        '200':
          description: OK
      tags:
      - Users
      operationId: putUsersCurrent
      x-operation-id-source: derived
  /users/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve user
      responses:
        '200':
          description: OK
      tags:
      - Users
      operationId: getUsersById
      x-operation-id-source: derived
  /users/{id}/role:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    put:
      summary: Update user role
      responses:
        '200':
          description: OK
      tags:
      - Users
      operationId: putUsersByIdRole
      x-operation-id-source: derived
x-generated-from: https://axiom.co/docs/restapi/introduction
x-generated-by: claude-crawl-2026-05-08
