openapi: 3.2.0
info:
  title: Axiom REST Dashboards API
  version: 1.0.0
  description: REST API for Axiom serverless log management and analytics. Manage datasets, ingest data, run queries, and administer annotations, dashboards, monitors, notifiers, tokens, users, views, and other resources.
servers:
- url: https://api.axiom.co
tags:
- name: Dashboards
paths:
  /dashboards:
    get:
      summary: List all dashboards
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
      tags:
      - Dashboards
      operationId: getDashboards
      x-operation-id-source: derived
    post:
      summary: Create dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Dashboards
      operationId: postDashboards
      x-operation-id-source: derived
  /dashboards/{uid}:
    parameters:
    - in: path
      name: uid
      required: true
      schema:
        type: string
    get:
      summary: Retrieve dashboard
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Dashboards
      operationId: getDashboardsByUid
      x-operation-id-source: derived
    put:
      summary: Update dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Dashboards
      operationId: putDashboardsByUid
      x-operation-id-source: derived
    delete:
      summary: Delete dashboard
      responses:
        '204':
          description: No Content
      tags:
      - Dashboards
      operationId: deleteDashboardsByUid
      x-operation-id-source: derived
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
x-generated-from: https://axiom.co/docs/restapi/introduction
x-generated-by: claude-crawl-2026-05-08
