openapi: 3.2.0
info:
  title: Axiom REST Annotations API
  version: 1.0.0
  description: REST API for Axiom serverless log management and analytics. Manage datasets, ingest data, run queries, and administer annotations, dashboards, monitors, notifiers, tokens, users, views, and other resources.
servers:
- url: https://api.axiom.co
tags:
- name: Annotations
paths:
  /annotations:
    get:
      summary: List all annotations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
      tags:
      - Annotations
      operationId: getAnnotations
      x-operation-id-source: derived
    post:
      summary: Create annotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Annotations
      operationId: postAnnotations
      x-operation-id-source: derived
  /annotations/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve annotation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Annotations
      operationId: getAnnotationsById
      x-operation-id-source: derived
    put:
      summary: Update annotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Annotations
      operationId: putAnnotationsById
      x-operation-id-source: derived
    delete:
      summary: Delete annotation
      responses:
        '204':
          description: No Content
      tags:
      - Annotations
      operationId: deleteAnnotationsById
      x-operation-id-source: derived
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
x-generated-from: https://axiom.co/docs/restapi/introduction
x-generated-by: claude-crawl-2026-05-08
