openapi: 3.2.0
info:
  title: Axiom REST Notifiers API
  version: 1.0.0
  description: REST API for Axiom serverless log management and analytics. Manage datasets, ingest data, run queries, and administer annotations, dashboards, monitors, notifiers, tokens, users, views, and other resources.
servers:
- url: https://api.axiom.co
tags:
- name: Notifiers
paths:
  /notifiers:
    get:
      summary: List all notifiers
      responses:
        '200':
          description: OK
      tags:
      - Notifiers
      operationId: getNotifiers
      x-operation-id-source: derived
    post:
      summary: Create notifier
      responses:
        '201':
          description: Created
      tags:
      - Notifiers
      operationId: postNotifiers
      x-operation-id-source: derived
  /notifiers/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve notifier
      responses:
        '200':
          description: OK
      tags:
      - Notifiers
      operationId: getNotifiersById
      x-operation-id-source: derived
    put:
      summary: Update notifier
      responses:
        '200':
          description: OK
      tags:
      - Notifiers
      operationId: putNotifiersById
      x-operation-id-source: derived
    delete:
      summary: Delete notifier
      responses:
        '204':
          description: No Content
      tags:
      - Notifiers
      operationId: deleteNotifiersById
      x-operation-id-source: derived
x-generated-from: https://axiom.co/docs/restapi/introduction
x-generated-by: claude-crawl-2026-05-08
