openapi: 3.2.0
info:
  title: Axiom REST Tokens API
  version: 1.0.0
  description: REST API for Axiom serverless log management and analytics. Manage datasets, ingest data, run queries, and administer annotations, dashboards, monitors, notifiers, tokens, users, views, and other resources.
servers:
- url: https://api.axiom.co
tags:
- name: Tokens
paths:
  /tokens:
    get:
      summary: List all API tokens
      responses:
        '200':
          description: OK
      tags:
      - Tokens
      operationId: getTokens
      x-operation-id-source: derived
    post:
      summary: Create API token
      responses:
        '201':
          description: Created
      tags:
      - Tokens
      operationId: postTokens
      x-operation-id-source: derived
  /tokens/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve API token
      responses:
        '200':
          description: OK
      tags:
      - Tokens
      operationId: getTokensById
      x-operation-id-source: derived
    put:
      summary: Regenerate API token
      responses:
        '200':
          description: OK
      tags:
      - Tokens
      operationId: putTokensById
      x-operation-id-source: derived
    delete:
      summary: Delete API token
      responses:
        '204':
          description: No Content
      tags:
      - Tokens
      operationId: deleteTokensById
      x-operation-id-source: derived
x-generated-from: https://axiom.co/docs/restapi/introduction
x-generated-by: claude-crawl-2026-05-08
