openapi: 3.1.0
info:
  title: Axiom REST API
  version: 1.0.0
  description: >-
    REST API for Axiom serverless log management and analytics. Manage datasets,
    ingest data, run queries, and administer annotations, dashboards, monitors,
    notifiers, tokens, users, views, and other resources.
servers:
  - url: https://api.axiom.co
x-generated-from: https://axiom.co/docs/restapi/introduction
x-generated-by: claude-crawl-2026-05-08
paths:
  /annotations:
    get:
      summary: List all annotations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      summary: Create annotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /annotations/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve annotation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    put:
      summary: Update annotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    delete:
      summary: Delete annotation
      responses:
        '204':
          description: No Content
  /dashboards:
    get:
      summary: List all dashboards
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      summary: Create dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /dashboards/{uid}:
    parameters:
      - in: path
        name: uid
        required: true
        schema:
          type: string
    get:
      summary: Retrieve dashboard
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    put:
      summary: Update dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    delete:
      summary: Delete dashboard
      responses:
        '204':
          description: No Content
  /datasets:
    get:
      summary: List all datasets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
    post:
      summary: Create dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    put:
      summary: Update dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    delete:
      summary: Delete dataset
      responses:
        '204':
          description: No Content
  /datasets/{id}/fields:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: List all fields in dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
  /datasets/{id}/fields/{name}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: string
    get:
      summary: Retrieve field in dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    put:
      summary: Update field
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{id}/tags:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Get tags for dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{id}/tags/values:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Get tag values for dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{id}/metrics:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Get metrics for dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{id}/metrics/tags:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Get metric tags for dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{id}/metrics/tags/values:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Get metric tag values for dataset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{id}/trim:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      summary: Trim dataset
      responses:
        '200':
          description: OK
  /datasets/{id}/vacuum:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      summary: Vacuum dataset
      responses:
        '200':
          description: OK
  /datasets/{dataset}/ingest:
    parameters:
      - in: path
        name: dataset
        required: true
        schema:
          type: string
    post:
      summary: Ingest data to dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: true
      responses:
        '200':
          description: Ingest summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /datasets/{dataset}/query:
    parameters:
      - in: path
        name: dataset
        required: true
        schema:
          type: string
    post:
      summary: Run query against dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: Query result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /v1/datasets/{dataset}/ingest:
    parameters:
      - in: path
        name: dataset
        required: true
        schema:
          type: string
    post:
      summary: Ingest data to edge deployment
      responses:
        '200':
          description: OK
  /v1/datasets/{dataset}/query:
    parameters:
      - in: path
        name: dataset
        required: true
        schema:
          type: string
    post:
      summary: Run legacy query
      responses:
        '200':
          description: OK
  /v1/edge/query:
    post:
      summary: Run APL query to edge deployment
      responses:
        '200':
          description: OK
  /v1/edge/query/batch:
    post:
      summary: Run batch query to edge deployment
      responses:
        '200':
          description: OK
  /v1/edge/metrics:
    post:
      summary: Run MPL query to edge deployment
      responses:
        '200':
          description: OK
  /groups:
    get:
      summary: List all groups
      responses:
        '200':
          description: OK
    post:
      summary: Create group
      responses:
        '201':
          description: Created
  /groups/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve group
      responses:
        '200':
          description: OK
    put:
      summary: Update group
      responses:
        '200':
          description: OK
    delete:
      summary: Delete group
      responses:
        '204':
          description: No Content
  /mapfields:
    get:
      summary: List all map fields
      responses:
        '200':
          description: OK
    post:
      summary: Create map field
      responses:
        '201':
          description: Created
    put:
      summary: Update list of map fields
      responses:
        '200':
          description: OK
    delete:
      summary: Delete map fields
      responses:
        '204':
          description: No Content
  /monitors:
    get:
      summary: List all monitors
      responses:
        '200':
          description: OK
    post:
      summary: Create monitor
      responses:
        '201':
          description: Created
  /monitors/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve monitor
      responses:
        '200':
          description: OK
    put:
      summary: Update monitor
      responses:
        '200':
          description: OK
    delete:
      summary: Delete monitor
      responses:
        '204':
          description: No Content
  /monitors/{id}/history:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve monitor history
      responses:
        '200':
          description: OK
  /notifiers:
    get:
      summary: List all notifiers
      responses:
        '200':
          description: OK
    post:
      summary: Create notifier
      responses:
        '201':
          description: Created
  /notifiers/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve notifier
      responses:
        '200':
          description: OK
    put:
      summary: Update notifier
      responses:
        '200':
          description: OK
    delete:
      summary: Delete notifier
      responses:
        '204':
          description: No Content
  /orgs:
    get:
      summary: List all orgs
      responses:
        '200':
          description: OK
    post:
      summary: Create org
      responses:
        '201':
          description: Created
  /orgs/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve org
      responses:
        '200':
          description: OK
    put:
      summary: Update org
      responses:
        '200':
          description: OK
  /orgs/{orgId}/users/{userId}:
    parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
      - in: path
        name: userId
        required: true
        schema:
          type: string
    delete:
      summary: Delete user from org
      responses:
        '204':
          description: No Content
  /roles:
    get:
      summary: List all roles
      responses:
        '200':
          description: OK
    post:
      summary: Create role
      responses:
        '201':
          description: Created
  /roles/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve role
      responses:
        '200':
          description: OK
    put:
      summary: Update role
      responses:
        '200':
          description: OK
    delete:
      summary: Delete role
      responses:
        '204':
          description: No Content
  /starred:
    get:
      summary: List all saved queries
      responses:
        '200':
          description: OK
    post:
      summary: Create saved query
      responses:
        '201':
          description: Created
  /starred/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve saved query
      responses:
        '200':
          description: OK
    put:
      summary: Update saved query
      responses:
        '200':
          description: OK
    delete:
      summary: Delete saved query
      responses:
        '204':
          description: No Content
  /tokens:
    get:
      summary: List all API tokens
      responses:
        '200':
          description: OK
    post:
      summary: Create API token
      responses:
        '201':
          description: Created
  /tokens/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve API token
      responses:
        '200':
          description: OK
    put:
      summary: Regenerate API token
      responses:
        '200':
          description: OK
    delete:
      summary: Delete API token
      responses:
        '204':
          description: No Content
  /users:
    get:
      summary: List all users
      responses:
        '200':
          description: OK
    post:
      summary: Create user
      responses:
        '201':
          description: Created
  /users/current:
    get:
      summary: Retrieve current user
      responses:
        '200':
          description: OK
    put:
      summary: Update current user
      responses:
        '200':
          description: OK
  /users/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve user
      responses:
        '200':
          description: OK
  /users/{id}/role:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      summary: Update user role
      responses:
        '200':
          description: OK
  /views:
    get:
      summary: List all views
      responses:
        '200':
          description: OK
    post:
      summary: Create view
      responses:
        '201':
          description: Created
  /views/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve view
      responses:
        '200':
          description: OK
    put:
      summary: Update view
      responses:
        '200':
          description: OK
    delete:
      summary: Delete view
      responses:
        '204':
          description: No Content
  /virtualfields:
    get:
      summary: List all virtual fields
      responses:
        '200':
          description: OK
    post:
      summary: Create virtual field
      responses:
        '201':
          description: Created
  /virtualfields/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      summary: Retrieve virtual field
      responses:
        '200':
          description: OK
    put:
      summary: Update virtual field
      responses:
        '200':
          description: OK
    delete:
      summary: Delete virtual field
      responses:
        '204':
          description: No Content
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
